*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Varela Round', sans-serif;
}
.tittle{
    text-align: center;
    margin: 30px;
}

.card{
    float: left;
    width: 31.33%;
    border: 3px black solid;
    margin: 1%;
    background-color: gray;
    position: relative;
}

.card_tittle{
    margin: 0;
    padding: 5px 15px;
    width: 120px;
    text-align: center;
    position: absolute;
    top:0;
    right: 0;
    border-bottom:3px black solid;
    border-left:3px black solid;
    font-size: 18px;
}

.chicken{
    background-color: hotpink;
}
.beef{
    background-color: indianred;
    color: white;
}
.sushi{
    background-color: yellow;    
}

.card_text{
    margin-top: 40px;
    padding: 0 10px 0 10px;
}


@media (min-width:768px) and (max-width:991px) {
    .card{
        width: 48%;
    }
    .card:last-child{
        width: 98%;
    }
}

@media (max-width:767px) {
    .card{
        width: 98%;
    }
}


